html {
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    scroll-behavior: smooth;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    white-space: nowrap;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Barlow", "Arial", sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    background-color: #FEFCF7;
}

.container {
    width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
}

.container--small{
    padding: 0 110px;
}

img {
    display: block;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

main {
    flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-family: "Fraunces", "Times new roman", serif;
    font-weight: 900;
}

p{
    margin-top: 0;
}
