html {
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    scroll-behavior: smooth;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    white-space: nowrap;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Barlow", "Arial", sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #333d4b;
    background-color: #fefcf7;
}

.container {
    width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
}

.container--small {
    padding: 0 110px;
}

img {
    display: block;
    object-fit: cover;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

main {
    flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
dt {
    margin-top: 0;
    font-family: "Fraunces", "Times new roman", serif;
    font-weight: 900;
}

p {
    margin-top: 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hero__inner {
        background-image: url("../images/jpg/2x/hero-picture@2x.jpg");
    }

    .about-hero__inner {
        background-image: url("../images/jpg/2x/about-bg-image@2x.jpg");
    }

    .commitment .container {
        &::before {
            background-image: url("../images/jpg/2x/commitment@2x.jpg");
        }
    }

    .quality .container {
        position: relative;
        margin-bottom: 170px;
        padding-top: 88px;

        &::after {
            background-image: url('../images/jpg/2x/quality@2x.jpg');
        }
    }

    .create-hero__inner{
        background-image: url('../images/jpg/2x/create-hero-image@2x.jpg');
    }
}
