.about-hero .container{
    margin-bottom: 170px;
}

.about-hero__inner {
    padding: 137px 85px;
    background-image: url('../images/jpg/about-bg-image.jpg');
    background-size: 1532px 1022px;
    background-position: left 0 bottom -200px;
    border-radius: 10px;
}

.about-hero__heading {
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 48px;
    color: #fefcf7;
}

.about-hero__text{
    width: 445px;
    margin: 0;
    color: #FEFCF7;
}