@import './header';
@import './nav';
@import './hero';
@import './button';
@import './products';
@import './discovery';
@import './steps';
@import './about-hero';
@import './footer';
@import './socials';