.commitment .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 170px;

    &::before {
        content: "";
        display: inline-block;
        width: 445px;
        height: 520px;
        background-image: url(../images/jpg/commitment.jpg);
        background-size: 485px 606px;
        background-position: right 0 top 0;
        border-radius: 8px;
    }
}

.commitment__info {
    width: 540px;
}

.commitment__heading {
    margin-bottom: 32px;
    font-size: 40px;
    line-height: 48px;
}

.commitment__text {
    margin: 0;
    opacity: 0.8;
}
