.create-hero__inner{
    padding: 135px 85px;
    background-image: url('../images/jpg/create-hero-image.jpg');
    background-position: left 0 bottom -275px;
    background-size: 1475px 983px;
    border-radius: 10px;
}

.create-hero__heading {
    width: 485px;
    margin-bottom: 32px;
    font-size: 72px;
    line-height: 72px;
    color: #fefcf7;
}

.create-hero__text {
    width: 445px;
    margin: 0;
    color: #fefcf7;
    opacity: 0.8;
}
