.footer .container{
    margin-bottom: 88px;
}

.footer__inner{
    display: flex;
    align-items: center;
    padding: 47px 85px;
    background: #2C343E;
}

.footer__logo{
    margin-right: 100px;
}