.nav__list {
    display: flex;
}

.nav__item {
    & + & {
        margin-left: 33px;
    }
}

.nav__link {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-decoration: none;
    text-transform: uppercase;
    color: #83888f;
    transition: color 0.25s ease;

    &:hover {
        color: #333d4b;
    }

    &--active {
        color: #333d4b;
    }
}
