.products .container {
    position: relative;
    margin-bottom: 200px;
    padding-bottom: 367px;
}

.products__heading {
    position: relative;
    margin: 0;
    font-size: 150px;
    line-height: 72px;
    text-align: center;
    white-space: nowrap;
    text-transform: lowercase;
    color: #83888f;

    &::after{
        content: "";
        position: absolute;
        bottom: -38px;
        display: block;
        width: 100vw;
        height: 200px;
        background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
    }
}

.products__list {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

.product {
    width: 255px;
    text-align: center;

    &__image {
        margin-bottom: 72px;
    }

    &__name {
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 32px;
        text-transform: capitalize;
    }

    &__text {
        margin-bottom: 0;
    }
}
