.socials {
    display: flex;
    align-items: center;
}

.social {
    & + & {
        margin-left: 24px;
    }
}

.social__image {
    display: block;
    
    & path{
        transition: fill 0.25s ease;
    }
    
    &:hover path{
        fill: #FDD6B9;
    }

}
