.steps .container{
    margin-bottom: 200px;
}

.steps__heading {
    margin-bottom: 95px;
    font-size: 24px;
    line-height: 32px;
    color: #83888f;
}

.steps__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 64px;
}

.step {
    position: relative;
    padding-top: 82px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        transform: translateY(-50%);
        display: block;
        width: 32px;
        height: 32px;
        background: #fefcf7;
        border: 2px solid #0e8784;
        border-radius: 50%;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 16px;
        transform: translateY(-50%);
        display: block;
        width: 100%;
        height: 1px;
        background: #fdd6ba;
        z-index: -1;
    }

    &:last-child::after{
        width: 0;
    }
}

.step__heading {
    margin-bottom: 42px;

    &__count {
        display: block;
        margin-bottom: 38px;
        font-size: 72px;
        line-height: 72px;
        color: #fdd6ba;
    }

    &__name {
        display: block;
        width: 265px;
        font-size: 32px;
        line-height: 36px;
    }
}

.step__text {
    width: 300px;
    margin-bottom: 0;
}
